@import "@/app/global.scss";

.poster-wrapper {
  width: 200px;
  height: 300px;
  overflow: hidden;
  position: relative;
  z-index: 5;

  img {
    // user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
  }
  @include border($secondary-color);

  &.poster-rated {
    @include border($fourth-color);
  }
  &.poster-favorite {
    @include border($third-color);
  }
  &:hover {
    cursor: pointer;
    @include transition();
  }

  .hover-info {
    box-sizing: border-box;
    display: inline-block;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    height: 75px;
    background-color: $primary-background-color;
    z-index: 10;
    width: calc(100% - 20px);
    transition: all;
    transition-duration: 500ms;

    div {
      padding: 1em;
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 1em;

      button {
        z-index: 20;
      }
    }
  }
}
