$primary-background-color: rgb(30, 30, 36);
$secondary-background-color: rgb(41, 41, 46);
$secondary-color: rgb(163, 0, 0);
$third-color: rgb(255, 119, 0);
$fourth-color: rgb(0, 175, 181);
$text-color: rgb(242, 239, 233);

$h1-size: 2.5rem;
$h2-size: 1rem;
$h3-size: 1.75rem;
$h4-size: 1.5rem;

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin border($color: $secondary-color) {
  border-color: $color;
  border-right: solid 5px $color;
  border-bottom: solid 5px $color;
}

@mixin transition {
  animation-duration: 100ms;
  transition: all ease-in-out;
}

body {
  background-color: $primary-background-color;
  color: $text-color;
}

// main {
//   @include flexCenter;
// }

// @mixin setBgColorAndHover($baseColor) {
//   background-color: $baseColor;
//   &:hover {
//     background-color: darken($baseColor, 5%);
//   }
// }

h1 {
  font-size: $h1-size;
  color: $text-color;
}

h2 {
  font-size: $h2-size;
  color: $text-color;
}

h3 {
  font-size: $h3-size;
  color: $text-color;
}

h4 {
  font-size: $h4-size;
  color: $text-color;
}
