$primary-color: rgb(62, 62, 150);
$secondary-color: rgb(82, 184, 90);
$text-color: rgb(238, 233, 233);

body {
  background-color: $primary-color;
  color: $text-color;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin border {
  border: solid 2px black;
  border-radius: 10px;
}
